<!-- <div class="d-flex justify-content-beetwen align-content-start flex-wrap pt-2 ">
  <div *ngFor="let photoInfo of realizationConfirmationPhotos; let i = index" class="m-1 image-container cursor-pointer"
  [ngStyle]="{'background': 'url('+photoInfo.thumbnailUrl+') no-repeat center'}"
  [style.background-size]="'cover'" >
  </div>
</div> -->
<div  #one class="d-flex justify-content-beetwen align-content-start flex-wrap pt-2 ">
  <!-- <div *ngFor="let photoInfo of realizationConfirmationPhotos; let i = index" class="m-1 image-container cursor-pointer"
  [ngStyle]="{'background': 'url('+photoInfo.thumbnailUrl+') no-repeat center'}"
  [style.background-size]="'cover'" >
  </div> -->
</div>

